@use 'incl/color' as *;
@use 'incl/font' as *;

.login-root {
    display: flex;
    justify-content: center;

    .login-form-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;

        -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.4); 
        box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.4);

        border: 1px solid $blue;
        border-radius: 5px;

        @include set-font($roboto);

        margin-top: 10%;
        padding: 15px;
        width: 30%;
        min-width: 320px;
        max-width: 450px;


        h2 {
            margin: 0;
            margin-bottom: 2px;
        }

        p {
            color: darken(darkgray, 20%);
            margin: 0;
            margin-bottom: 10px;
        }

        .form-status-field {
            height: 0;
            padding: 5px;
            margin-bottom: 15px;
        }

        .border-red {
            border: 1px solid red;
            border-radius: 5px;
            transition: ease 0.25s;
        }

        .border-red.form-status-field {
            height: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            div {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            label {
                margin: 3px 0 3px 0;
            }

            input {
                padding: 10px;
                border: 1px solid $blue;
                border-radius: 4px;
            }

            input:focus {
                outline: none !important;
                border: 1px solid $turquise;
                transition: ease .5s;
            }

            input:hover {
                border: 1px solid $turquise;
                transition: ease .5s;
                cursor: pointer;
            }
        }

        .submit-btn {
            margin-top: 25px;

            height: 30px;
            width: 40%;

            @media screen and(max-width: 420px) {
                width: 320px;
                transition: ease-out .5s;
            }

            @media not screen and(max-width: 420px) {
                transition: ease-out .5s;
            }

            background-color: $blue;
            border: 4px solid $blue;
            border-radius: 5px;

            color: white;
        }

        .submit-btn:hover {
            border: 4px solid $turquise;
            background-color: $turquise;
            transition: ease .5s;
        }

        .submit-btn:focus {
            outline: none !important;
            border: 4px solid $turquise;
            background-color: $turquise;
            transition: ease .5s;
        }
    }
}