@use '../incl/color' as *;
@use '../incl/font' as *;

.console-view {
    height: 100%;
    width: 100%;
    padding-bottom: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background-color: inherit;

    div {
        width: 100%;
        overflow: hidden;
        overflow-wrap: break-word;

        @media screen and(max-width: 600px) {
            width: 100%;
        }

        p {
            margin: 0;
            padding: 0;

            color: white;
            @include set-font($noto-sans, 400, true);
            font-size: 0.8rem;

            span {
                @include set-font($noto-sans, 400, true);
                font-size: 0.8rem;
            }
        }
    }
}

.console-view::-webkit-scrollbar {
    width: 8px;
}

.console-view::-webkit-scrollbar-track {
    background: inherit; 
}

.console-view::-webkit-scrollbar-thumb {
    height: 30%;
    background: #888; 
    border: 1px solid #888;
    border-radius: 5px;
}

.console-view::-webkit-scrollbar-thumb:hover {
    background: #555;
    border: 1px solid #555;

    transition: .5s ease;
}

.input-view {
    height: 1em;
    background-color: inherit;

    display: flex;
    flex-direction: row;

    p {
        padding: 0;
        margin: 0;
        color: white;
        @include set-font($noto-sans, 400);
        font-size: 0.8em;
    }

    input {
        margin: 0;
        padding: 0;
        border: none;
        background-color: inherit;
        color: white;

        @include set-font($noto-sans, 400, true);
        font-size: 0.9em;
        width: 100vw
    }

    input:focus {
        outline: none !important;
    }
}