@forward './console.scss';
@forward './nav.scss';

@use '../incl/color' as *;
@use '../incl/font' as *;

.dashboard {
    visibility: visible !important;

    background-color: #32404E;
    height: 100vh;

    display: flex;
    flex-direction: column;

    & > div {
        height: calc((100% - 3rem)/2);

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        padding-top: 2em;

        @media screen and(max-width: 600px) {
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 5vh;

            width: 100vw;
            padding: 1.5vw;

            .console-root {
                margin-top: 2em;
            }
        }

        .server-control-root {
            background-color: #3E4D5B;
            border: 1px solid #3E4D5B;
            border-top: none;
            border-radius: 5px;
            height: 20%;
            width: 25vw;
            padding: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and(max-width: 600px) {
                width: 97vw;
            }
    
            .server-name {
                background-color: #1E2934;
                border: 1px solid #1E2934;
                width: 100%;
                height: 2em;

                @include set-font($roboto, 400);
                color: #CAD1D9;
                margin: 0;

                text-align: left;
                line-height: 2em;
            }

            .server-control-btns {
                display: flex;
                flex-direction: row;

                padding: 10px;

                .stop-server-btn {
                    background-color: #E52C33;
                    border: 1px solid #E52C33;
                    border-radius: 2px;
                    padding: 3px 5px 3px 5px;
                    color: #CAD1D9; 
                    @include set-font($roboto, 400);
                }

                .stop-server-btn:hover {
                    background-color: darken(#E52C33, 10%);
                    border: 1px solid darken(#E52C33, 10%);
                }

                button:hover {
                    cursor: pointer;
                }
            }
        }

        .console-root {
            padding: 2px;
            background-color: black;
            border: 1px solid black;
            border-radius: 5px;

            height: calc(90% + 2em);
    
            width: 50vw;
            @media screen and(max-width: 600px) {
                width: 97vw;
                margin-bottom: 3vh;
            }
        }

        .graph-holder {
            display: flex;
            flex-direction: row;

            @media screen and(max-width: 600px) {
                flex-direction: column;
                justify-items: center;
            }

            @media screen and(min-width: 601px) {
                justify-content: center;
            }

            & > div {

                @media screen and(max-width: 600px) {
                    margin: 1.5rem 0 1.5rem 0;
                }
                
                @media screen and(min-width: 601px) {
                    margin: 0 2.5rem 0 2.5rem;

                }

                h2 {
                    background-color: #1E2934; 
                    @include set-font($roboto, 400);
                    color: #CAD1D9;
                    margin: 0;

                    border: 1px solid #1E2934;
                    border-bottom: none;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                canvas {
                    background-color: #3E4D5B;
                    height: 15rem;
                    width: auto;
                    border: 1px solid #3E4D5B;
                    border-top: none;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}
