@use '../incl/font' as *;

.file-browser-section {
    visibility: visible !important;

    background-color: #32404E;
    height: calc(100vh - 5rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    .file-browser-holder {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 50%;

        .spacer {
            display: block;
            height: 5rem;
        }

        .file-browser-header {
            background-color: #1E2934;
            border: 1px solid #1E2934;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            & > p, h2 {
                margin: 3px;
                @include set-font($roboto, 400)
            }

            & > h2 {
                color: white;
            }

            & > p {
                color: lightgray;
            }
        }

        .file-browser {
            display: flex;
            flex-direction: column;
    
            background-color: #3E4D5B;
            border: 1px solid #3E4D5B;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            & > div {
                margin-left: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 1em;
                    height: 1em;
                }
    
                p {
                    @include set-font($roboto);
                    font-size: 1em;
                    color: white;
                    margin: 3px;
                }
    
                .fs-unsupported {
                    color: lightgray; 
                }
            }

            & > div:hover {
                background-color: darken(#3E4D5B, 10%);
                transition: 0.2s ease;
                cursor: pointer;
            }
        }
    }
}