@use '../incl/font' as *;

nav {
    visibility: visible !important;
    width: 100vw;
    .nav-root {
        width: 100vw;

        & > div {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: 3rem;

            div {
                display: flex;
                flex-direction: row;
                
                * {
                    margin: 10px;
                    color: #CAD1D9;
                    @include set-font($roboto, 400);
                }

                p {
                    line-height: calc(3rem / 2);
                }
            }

            .left-aligned {
                justify-content: flex-start;
            }

            .right-aligned {
                justify-content: flex-end;
            }

            .clickable:hover {
                cursor: pointer;
                color: darken(#CAD1D9, 15%);
                transition: 0.5s ease;
            } 
        }

        .upper-nav {
            background-color: #1E2934;
        }

        .lower-nav {
            background-color: #3E4D5B;
            height: 2rem;
            p {
                line-height: calc(2rem / 2);
                font-size: 0.9em;
            }
        }
    }
}